.ui.attached.stackable.menu{
  background-color: #222;
  color: whitesmoke;
}

.ui.fluid.image{
  height: 80%
}
.ui.big.image{
  height: 500px;
}
.ui.three.column.relaxed.grid{
  padding-top: 40px;
}
.footer-background{
  padding-top: 50px;
  color: #888;
  background-color: #2e2e2e
}

h4{
  color: white;
  margin-top:10px;
  margin-bottom:10px;
}
.ui.icon.input{
  background-color: #2e2e2e;
}